
h2{
    text-align: center;
    color: white;
    text-shadow: 4px 4px 10px #fff6bf;
    font-variant: small-caps;
}



.fontcolor{
    text-align: left;
    color:wheat;
    text-shadow: 4px 4px 10px #fff6bf;
    font-variant: small-caps;
}